body {
width: 100vw;
height: 100vh;
font-weight: bold;
color:white ;
background-image: linear-gradient(to bottom left, purple, green, blue);
}

h2 {
outline: 1px solid transparent;
display: block;
margin-top: 1rem;
margin-bottom: 0.5rem;
margin-left: 3rem;
}

p {
margin-left: 0;
}

span {
font-weight: bolder;
color: yellow;
}

label {
display: inline-block;
margin-bottom: 0;
margin-left: 0;
}
#advice {
display: block;
margin: 0 auto 0.75rem 2.2rem;
}
#xtract-num-property {
display: inline-block;
margin: 0 0 0 1rem;
background-color: #4f1e9c;
border:1px solid #ffd400 ;
border-radius: 15%;
font-size: 1rem;
font-weight: bolder;
padding: 0.2rem;
color: yellow ;
}

#user-entry {
margin-top: 0.5rem;
margin-left: 1rem;
}